name: ci

on:
  push:
    branches:
      - main
    paths:
      - src/**

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get the short commit_id of your git push
        id: short_sha
        shell: bash
        run: | 
            echo "${GITHUB_SHA::6}" >> GITHUB_ENV
      
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: aumthakkar/3py-app:v1